{% extends "stp_resources/base.html" %}

{% block content %}
<h1>About Us</h1>
<h2>What is EduTalk?</h2>
<p>
    EduTalk is an application designed to help students, teachers, parents, administrators, and all other educators to
    better communicate with each other and work out their differences. It isn't easy to navigate today's educational
    climate regardless of who you are. As students, expectations can be too high or too low, the relationship between
    you and your teacher may be rocky, grades may be suffering, friends may be excluding you, you may be suffering from
    a mental health illness that you don't know how to bring up to your parents, and a miriad of other issues. Parents
    may not understand how to better help their child get better grades, set more ambitious goals, or they may not know
    how to be collaborative with their child's teacher. Teachers may have trouble navigating social issues in the work
    place, managing a work/personal life balance, giving everyone an equal chance in the classroom, fighting political
    battles with administration or parents. The issues are endless, but there is evidence to suggest that the more
    collaborative of an effort between the teachers, the parents, and the students, the more chance for success that
    student has. We are here to give advice, resources, discussion forums, and other types of content to help students,
    teachers, parents, and administrators set each other for success.
</p>
<h2>Creators: </h2>
{% endblock content %}
